<% provide(:title, 'Wishes Edit') %>
    <!-- thumbnail -->
      <div class="row">

        <%= form_tag wishes_path, :id=>"wishes",  method: :put do %>

        <% @wishes.each do |wish| %>
          <%= fields_for "wishes[]", wish do |fi| %>

            <div class="col-xs-6 col-md-3">
              <span class="col-xs-12 col-md-12 label label-default">登録日:<%= wish.created_at.to_s(:ymd) %></span>
              <div class="thumbnail">
                <% if wish.user_item.use_thumbnail  %>
                <%= image_tag( thumbnail_user_item_path(wish.user_item), :class => "img-rounded") %>
                <% else %>
                <%= image_tag( 'ingradients/' + wish.user_item.category_id.to_s + ".jpg", :class => "img-rounded") %>
                <% end %>
                <div class="infos">
                  <h4><%= wish.user_item.name %></h4>
                  <h4>メモ</h4>
                  <%= fi.text_field :memo, :class=>'form-control'
                  %>
                  <div class="price"><%= wish.price %> 円</div>
                  <button type="button" class="btn btn-default btn-block">
                    削除 <%= fi.check_box :delete_status, {:class => ''} %>　　　　
                  </button>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= link_to wishes_new_path do %>
          <div id="wish_regist" class="camera-base">
            <span class="glyphicon glyphicon-camera camera" aria-hidden="true"></span>
            <br>
            <p class="camera-text">登録</p>
          </div>
        <% end %>

        <a href='#' onclick="$('#wishes').submit()">
          <div id="stock_regist" class="camera-base">
            <span class="glyphicon glyphicon-save camera" aria-hidden="true"></span>
            <br>
            <p class="camera-text">保存</p>
          </div>
        </a>
      <% end %>
            

      </div><!--row-->
