<% provide(:title, 'ウイッシュ登録') %>

<%= form_for @item, :url => wishes_path  do |f| %>

<div style="display:none;">
    <%= f.file_field :thumbnail, :accept=> 'image/*;capture=camera', :id=>'imageFile1' %>
</div>

      <h4>写真を登録してください。（最大1枚/1枚あたり5Mまで）</h4>
      <div class="row">
        <div class="col-xs-3">
          <div class="thumbnail" id="btn1">
            <%= image_tag 'add_picture.png', :id=>'image1' %>
          </div>
        </div>
      </div>
      

      <div class="row">
         <div class="col-md-12">
            <ul class="list-group">
              <h4>商品名</h4>
                <li class="list-group-item">
                <%= f.text_field :name, :class=>'form-control', :placeholder=>'商品名（必須 40文字まで）' %>
              </li>
            </ul>
         </div>
      </div>
        
        
        <div class="row">
         <div class="col-md-12">                        
            <ul class="list-group">
              <h4>商品の種類</h4>

              <li class="list-group-item">
                <%= f.collection_select :category_id, Category.all, :id, :name,
                  :selected => Category.count , :include_blank => true %>
              </li>
            </ul>
         </div>

         <%= f.fields_for :wishes do |sf| %>

         <div class="col-md-12">
            <ul class="list-group">
              <h4>メモ</h4>
              <li class="list-group-item">
                <%= sf.text_area :memo, :style=>'height:150px', :class=>'form-control',
                :placeholder=> 'メモ等にお使い頂けます。'
                %>
              </li>
            </ul>
         </div>
        </div>
      <% end %>


            
      <br> 
      <div class="row">
         <div class="col-md-12">
           <br><br>
         </div>
         <div class="col-md-12">
           <%= f.submit "登録する", class:"btn-lg btn-danger btn-block" %>
         </div>
      </div>

<% end %>
