<% provide(:title, '商品購入') %>

	<div class="row">
		<div class="col-md-12">
			<p class="pull-left"><%= image_tag(thumbnail_item_path(@item), :size => "100x120", :class => "img-rounded") %></p> 
			<h4>&nbsp; <%= @item.name %> </h4>
			<h4>&nbsp; <%= @item.price %> point</h4>  
		</div>
	</div>
    
	<br>
   
	<div class="col-md-12">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td class="active">保有ポイント</td>
          <td><%= current_user.user_util.point %>ポイント</td>
				</tr>
				<tr>
					<td class="active">利用ポイント</td>
					<td><%= @item.price %>ポイント</td>
				</tr>
				<tr>
					<td class="active">残ポイント</td>
          <td><%= @current_user.user_util.point - @item.price %>ポイント</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
      
	<div class="col-md-12">
		<table class="table table-bordered">

			<tbody>
				<tr>
					<td class="active">交換方法</td>
					<td><%= @item.exchange_method.name %></td>
				</tr>
				<tr>
					<td class="active">交換日時</td>
					<td><%= @item.exchange_date.to_s(:org_format) %></td>
				</tr>
			</tbody>
		</table>
	</div>

	<br><br>
    
	<!-- 購入ボタン
	================================================== -->
<%= form_tag(exchanges_create_item_path) do %>

	<div class="col-md-12">
    <%= submit_tag "購入する", class:"btn-lg btn-danger btn-block" %>
	</div>

<% end %>
	
	<br><br>
