<% provide(:title, 'Stock Edit') %>

<%

  @all_count = Stock.where( user_id: current_user.id, 
                             delete_status: 0 ).count

  @counts = Array.new
  @counts << 0
  for i in 1..Category.count do
    @counts << Stock.joins(:user_item)
      .where("user_items.category_id = ?", i)
      .where( user_id: current_user.id, 
      delete_status: 0 ).count
  end

 

%>

    <!-- thumbnail -->
      <div class="row">

        <div class="col-md-12">
          <ul id="myTab2" class="view-mode nav nav-pills nav-justified">

            <li><%= link_to stocks_edit_all_path do %>登録順
               <span class="badge pull-right">
                  <%= @all_count %>
            </span><% end %></li>

            <li class="active"><%= link_to stocks_sort_edit_all_path do %>賞味期限順
                <span class="badge badge-success pull-right">
                  <%= @all_count %>
            </span><% end %></li>

        <% for i in 1..Category.count do %>
          <% if @counts[i] > 0 then %>

            <li><%= link_to stocks_sort_by_category_edit_all_path(Category_id: i) do %>
                  <%= Category.find(i).name %>
                  <span class="badge badge-success pull-right">
                  <%= @counts[i] %>
            </span><% end %></li>
          <% end %>
        <% end %>
          </ul>
        </div>



        <%= form_tag stocks_path, :id=>"stocks",  method: :put do %>

        <% @stocks.each do |stock| %>
          <%= fields_for "stocks[]", stock do |fi| %>

            <div class="col-xs-6 col-md-3">
            <% if not stock.best_before_date.nil? then %>
              <% #賞味期限の計算

                #余裕値
                margin = 3

                d = Date.new(
                      stock.best_before_date.to_s(:yyyy).to_i,
                      stock.best_before_date.to_s(:mm).to_i,
                      stock.best_before_date.to_s(:dd).to_i) - Date.today

              %>
              <% if d >= margin then %>
              <span class="col-xs-12 col-md-12 best_before_date label label-info">
              <% elsif d >= 0 then %>
              <span class="col-xs-12 col-md-12 best_before_date label label-warning">
              <% else %>
              <span class="col-xs-12 col-md-12 best_before_date label label-danger">
              <% end %>
                賞味期限:<%= stock.best_before_date.to_s(:ymd) %>
            <% else #賞味期限無し  %>
              <span class="col-xs-12 col-md-12 best_before_date label label-default">
                賞味期限情報無し
            <% end %>
              </span>
              <span class="col-xs-12 col-md-12 label label-default">購入日:<%= stock.purchase_date.to_s(:ymd) %></span>
              <div class="thumbnail">
                <% if stock.user_item.use_thumbnail  %>
                <%= image_tag( thumbnail_user_item_path(stock.user_item), :class => "img-rounded") %>
                <% else %>
                <%= image_tag( 'ingradients/' + stock.user_item.category_id.to_s + ".jpg", :class => "img-rounded") %>
                <% end %>
                <div class="infos">
                  <h4><%= stock.user_item.name %></h4>
                  <div class="price"><%= stock.price %> 円</div>
                  <%=  fi.collection_select :item_status_id, ItemStatus.all, :id, :name %>
                  <%# button_to "削除", { :action => "destroy", :id => stock.id}, :confirm => "本当に削除しますか?", :method => :delete, :class=>"btn btn-danger btn-block" %>
                  <button type="button" class="btn btn-default btn-block">
                    削除 <%= fi.check_box :delete_status, {:class => ''} %>　　　　
                  </button>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <a href='#' onclick="$('#stocks').submit()">
          <div id="stock_regist" class="camera-base">
            <span class="glyphicon glyphicon-save camera" aria-hidden="true"></span>
            <br>
            <p class="camera-text">保存</p>
          </div>
        </a>
      <% end %>
            

      </div><!--row-->
