<% provide(:title, "Edit user") %>
<%= stylesheet_link_tag "sign-in-up" %>

<section class="sign-in-up-content">

  <div class="row">

    <div class="col-md-12">

      <h4 class="text-center">設定</h4>

    <%= form_for(@user, :class=> 'sign-in-up-form') do |f| %>
      <%= render 'shared/error_messages' %>

      <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
      </div>

      <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email %>
      </div>

      <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password %>
      </div>

      <div class="form-group">
      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
      </div>

      <div class="form-group">
        保有ポイント：<%= @user.user_util.point %>
      </div>


      <%= f.submit "Save changes", class: "btn btn-success btn-block" %>
    <% end %>

    </div>
  </div>
</section>
