<% provide(:title, 'Item list') %>
    <!-- thumbnail -->
      <div class="row">

        <% @items.each do |item| %>
            <div class="col-xs-6 col-md-3">
              <div class="thumbnail">
                <%= link_to image_tag('/photos/DSC_1122.jpg', :class => "img-rounded"), item_path(item) %>
                <div class="infos">
                  <h4><%= item.name %></h4>
                  <div class="glyphicon glyphicon-star"></div><%= item.like %>
                <div class="glyphicon glyphicon-pencil"></div><%= item.item_comments.count %>
                  <div class="price"><%= item.price %> Point.</div>
                </div>
              </div>
            </div>
        <% end %>
            
        <%= link_to new_item_path do %>
          <div id="item_regist" class="camera-base">
            <span class="glyphicon glyphicon-camera camera" aria-hidden="true"></span>
            <br>
            <p class="camera-text">出品</p>
          </div>
      <% end %>

      </div><!--row-->

      <%= javascript_include_tag 'items/index' %>
