<% provide(:title, '商品情報確認') %>

			<!-- 商品情報
			================================================== -->
			<div class="example">
			  <div class="col-md-12">
			    <div class="jumbotron">
			      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			              
				      <ol class="carousel-indicators">
				        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
				        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
				      </ol>
				                
				      <div class="carousel-inner">

                <% if not @item.picture1.nil? %>
                <div class="item active">
                  <%= image_tag picture1_item_path(@item) %>
                </div>
                <% end %>

                <% if not @item.picture2.nil? %>
                <div class="item">
                  <%= image_tag picture2_item_path(@item) %>
                </div>
                <% end %>

                <% if not @item.picture3.nil? %>
                <div class="item">
                  <%= image_tag picture3_item_path(@item) %>
                </div>
                <% end %>

                <% if not @item.picture4.nil? %>
                <div class="item">
                  <%= image_tag picture4_item_path(@item) %>
                </div>
                <% end %>
				      </div>
				     
				      
				      <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
				        <span class="glyphicon glyphicon-chevron-left"></span>
				      </a>
				               
				      <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
				        <span class="glyphicon glyphicon-chevron-right"></span>
				      </a>
			               
			      </div>
			 
			      <h2><%= @item.price %>Point.</h2>
			      <h4><%= @item.name %></h4>

			      <div>
			        <button class="btn btn-primary" type="button">いいね！ <span class="badge"><%= @item.like %></span></button>
			        <button class="btn btn-primary" type="button" onclick="location.href='./comment_all_users.html'">コメント&nbsp;<span class="badge"><%= @item.item_comments.count %></span></button>
			        <br>
			      </div>

			      </div>
			    </div>
			  </div>
			</div>

      <!-- 出品者情報
      ================================================== -->
      <div class="col-md-12">
        <div class="well well-sm">
          <p class="pull-left">
            <%= image_tag('/photos/buyer/thm2218_2d.png', :size => "50x60", :class => "img-rounded") %>
          </p>
          
          
          
          <h5><p class="text-danger"><%= @item.user.name %></p></h5>
          <span>出品数 &nbsp;<%= @item.user.items.count %>&nbsp;&nbsp;評価&nbsp;&nbsp;<p class="glyphicon glyphicon-hand-up" aria-hidden="true" ></p>(300)&nbsp;
                                 <p class="glyphicon glyphicon-hand-right" aria-hidden="true" ></p>(20)&nbsp;
                                 <p class="glyphicon glyphicon-hand-down" aria-hidden="true"></p>(2)
          </span>
          <div class="well well-sm"><%= @item.item_detail %></div>
        </div>
      </div>
      

      <!-- 商品情報
      ================================================== -->

      <div class="col-md-12">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="active">カテゴリー</td>
              <td><%= @item.category.name %></td>
            </tr>
            <tr>
              <td class="active">商品の状態</td>
              <td><%= @item.item_status.name %></td>
            </tr>
            <tr>
              <td class="active">交換方法</td>
              <td><%= @item.exchange_method.name %></td>
            </tr>
            <tr>
              <td class="active">交換希望日</td>
              <td><%= @item.exchange_date.to_s(:org_format) %></td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <!-- 購入手続きボタン
      ================================================== -->
      <div class="col-md-12">
        <%= button_to "購入手続きへ", exchanges_new_item_path, class:"btn-lg btn-danger btn-block", :method => :get %>
      </div>
      
      <br><br>
