    <div class="container">
        <div class="row">
    <!-- Navibar -->
              <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                  <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                      <%= link_to image_tag('/images/touch-icon.png', :style => "max-width:100px; margin-top:-14px",  :class => "img-logo"), stocks_path, class:"navbar-brand" %>
                      <p class="navbar-text">
                        <a href="javascript:void(0);" data-toggle="popover" title="お知らせ" rel="popover"
                          data-html="true" data-placement="bottom">
                            <span class="glyphicon glyphicon-send info" aria-hidden="false"></span>
                        </a>
                        <span class="my-badge badge badge-danger">222</span>
                      </p>


                    </div>
                    <% if signed_in? %>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <!-- <li class="disabled"><a href="#">Link</a></li> -->
                        <li><%= current_user.name%>さん</li>
                        <li><%= link_to "通常モード", stocks_path %></li>
                        <li><%= link_to "在庫管理モード", stocks_edit_all_path %></li>
                        <li><%= link_to "全て表示", stocks_index_all_path %></li>
                        <li><%= link_to "買い物リスト", wishes_edit_all_path %></li>
                        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                        <li class="divider"></li>
                        <li>
                          <%= link_to "Sign out", signout_path, method: :delete, data: {confirm: "ログアウトしますか？"} %>
                        </li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                    <% end %>
                  </div><!-- /.container-fluid -->
                </nav>
              </div>
        </div>
    </div>


